# =========================
# 1. C/C++ 编译废料 & CMake 缓存
# =========================
build/
bin/
*.o
*.a
*.so
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# =========================
# 2. 前端环境与敏感配置
# =========================
node_modules/
.next/
dist/
.env
.DS_Store

# =========================
# 3. IDE 配置文件
# =========================
.vscode/
.idea/

# =========================
# 4. Nginx 密码本 (绝对机密)
# =========================
inazuma-nginx/.htpasswd